# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.pkl
*.joblib
*.h5

# Virtual environment
venv/
env/

# Jupyter Notebook runtime
.ipynb_checkpoints/
*.nbconvert.ipynb

# VSCode & IDEs
.vscode/
.idea/
*.swp


# Streamlit
.streamlit/
*.log

# OS files
.DS_Store
Thumbs.db
